#greenland{    
    height: 250px;
    width: 320px;
    display: flex;
    flex-direction: column;
    outline: 1px solid black;
}
#red{
    width: 100%;
    height: 50%;
    background-color: white;
}
#white{
    width: 100%;
    height: 50%;
    background-color: red;
}
#circle{
    margin: 20px auto;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 1000px;
    position: absolute;
    top: 63;
    left: 60;
    overflow: hidden;
}
#topside{
    height: 50%;
    background-color: red;
}
#downside{
    height: 50%;
    background-color: white;
}