.kakek{
    width: 400px;
    height: 400px;
    background-color: pink;
    display: flex;
    flex-direction: column;
}

.bapak1, .bapak2, .bapak3, .bapak4, .bapak5{
    width: 100%;
    height: 33.3%;
    display: flex;
}

.anak1, .anak2, .anak3{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 47);
    border: 4px solid;
}

.anak4, .anak5, .anak6{
    width: 100%;
    height: 100%;
    background-color: rgb(8, 246, 40);
    border: 4px solid;
}

.anak7, .anak8, .anak9{
    width: 100%;
    height: 100%;
    background-color: rgb(36, 11, 255);
    border: 4px solid;
}